<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**
+ List popular languages for Data Science
+ List data science libraries
+ Introducing arithmetic expression to multiply and add numbers
+ Converting minutes to hours

Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. Scala
4. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

| Data Science Tools |
| -------------|
| RStudio |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#this a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
print(200/60, "hours")

3.3333333333333335 hours

## Author
R Dipika